html {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}

h1 {
    padding-top: 30px;
    font-size: 50px;
    font-weight: normal;
}

.download {
    color: aquamarine;
    font-size: 16px;
}
