html {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}

h1 {
    padding-top: 30px;
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

h3 {
    font-size: 21px;
    font-weight: normal;
    color: gray;
}

.download {
    color: aquamarine;
    font-size: 16px;
}

.footer {
    text-align: right;
    color: gray;
}
